@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-container{
    display: flex;
    flex-direction: row;
    padding:2rem;
    justify-content: space-between;
    border-bottom:2px solid #e2e8f0;
    background-color: #fff;


}
.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:5rem;
}
.navbar-logo{
    font-size: 2.5rem;
    color:white;
    font-weight: 500;
    background-color: #7dd3fc;
}
.navbar-content button{
    padding:0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: #ecfeff;
    border: 2px solid black;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    border-top:2px solid #e2e8f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3rem;

}

.search-result-container{
    display: flex;
    flex-direction: column;
    width:30%;
    margin: 2% 3%;
    gap: 1rem;
    flex-wrap: wrap; 
    max-height: 150vh;
}
.search-results{
    background-color: #99f6e4;
    flex: 1;
    display: flex;
    flex-direction: column;
    width:100%;
    border: 1.5px solid black;
    padding:1rem;
}

.results a p:nth-child(1){
    font-size: 1.5rem;
    font-weight: 500;
    color:#082f49;
}
