@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-container{
    display: flex;
    flex-direction: row;
    padding:2rem;
    justify-content: space-between;
    border-bottom:2px solid #e2e8f0;
    background-color: #fff;


}
.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:5rem;
}
.navbar-logo{
    font-size: 2.5rem;
    color:white;
    font-weight: 500;
    background-color: #7dd3fc;
}
.navbar-content button{
    padding:0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: #ecfeff;
    border: 2px solid black;
}
.footer{
    border-top:2px solid #e2e8f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3rem;
}